language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '10'
  - '9'
  - '8'
script:
  - npm run build
  - npm run lint
after_success:
  - npm run travis-deploy-once "npm run semantic-release"
