@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  padding: 2rem 5%;
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.container .row > .col,
.container .row > .sm\:col,
.container .row > .md\:col,
.container .row > .lg\:col,
.container .row > .xl\:col,
.container .row > [class^='col-'],
.container .row > [class^='sm:col-'],
.container .row > [class^='md:col-'],
.container .row > [class^='lg:col-'],
.container .row > [class^='xl:col-'] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.react-live {
  margin: 1rem -15px 0;
}

.react-live__preview {
  border: 0.2rem solid #f7f7f9;
  padding: 15px;
}

.react-live__error {
  font-family: 'SF Mono', Menlo, monospace;
  font-size: 13px;
  padding: 16px;
  color: white;
  background-color: red;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

#dir-selector {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: white;
  background: #151513;
  padding: 0.75rem 1rem;
  border-radius: 3px;
  border: 1px solid white;
  width: 4rem;
  text-transform: uppercase;
  cursor: pointer;
}
